

*{
    font-family: 'rajdhani';
     margin: 0;
     height: fit-content;
     width: fit-content;
  }

  #principal h2{
    color: beige;
    text-align: center;
    align-items: center;
    font-family: 'rajdhani';
    width: fit-content;
    height: fit-content;
    
    }

  #buttons{
    text-align: center;
    margin-top: 30px;
    
  
    
     }

  #buttons h3{
    width: 120px;
    font-size: 36px;
    transition: 0.5s;
    background-color: black;
    color: rgb(110, 243, 144);
    text-align: center;
    position: fixed;
  }    

  #principal  .html{
    width: 60px;
    font-size: 16px;
    transition: 0.9s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(110, 243, 144) ;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    
   }
   #principal  .css{
    width: 60px;
    font-size: 16px;
    transition: 0.9s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(110, 243, 144) ;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
   }
   #buttons .js{
    width: 60px;
    font-size: 16px;
    transition: 0.9s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(110, 243, 144) ;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
   }
   #buttons .react{
    width: 60px;
    font-size: 16px;
    transition: 0.9s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(110, 243, 144) ;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
   }
   #buttons .node{
    width: 60px;
    font-size: 16px;
    transition: 0.9s;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(110, 243, 144) ;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
   }

   #buttons .html:hover{
    background-color: rgba(110, 243, 143, 0.671);
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
    box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
    border: none;
    z-index: 2;
    font-size: 36px;
   }
   #buttons .react:hover{
    background-color: rgba(110, 243, 143, 0.671);
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
    box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
    border: none;
    z-index: 2;
    font-size: 36px;
   }
   #buttons .css:hover{
    background-color: rgba(110, 243, 143, 0.671);
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
    box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
    border: none;
    z-index: 2;
    font-size: 36px;
    
   }
   #buttons .js:hover{
    background-color: rgba(110, 243, 143, 0.671);
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
    box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
    border: none;
    z-index: 2;
    font-size: 36px;
   }
   #buttons .node:hover{
    background-color: rgba(110, 243, 143, 0.671);
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    width: 200px;
    box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
    border: none;
    z-index: 2;
    font-size: 36px;
   }

  


  .h1{
    color: beige;
    text-align: center;
    font-family: 'rajdhani';
    margin: 0;
    
    
    
    

  }

#particles-js{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

#socialNetworks .linkedin{
  width: 60px;
  font-size: 16px;
  transition: 0.9s;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(110, 243, 144) ;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
}

#socialNetworks .git{
  width: 60px;
  font-size: 16px;
  transition: 0.9s;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(110, 243, 144) ;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
}

#socialNetworks .cv{
  width: fit-content;
  font-size: 16px;
  transition: 0.9s;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(110, 243, 144) ;
  border: none;
  margin-right: 20px;
  margin-left: 20px;
}

#socialNetworks{
  justify-content: end;
  margin-top: 90%;

}

#socialNetworks .cv:hover{
  background-color: rgba(110, 243, 143, 0.671);
  color: black;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
  border: none;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  
 }

 #socialNetworks .linkedin:hover{
  background-color: rgba(110, 243, 143, 0.671);
  color: black;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
  border: none;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  
 }

 #socialNetworks .git:hover{
  background-color: rgba(110, 243, 143, 0.671);
  color: black;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgb(110, 243, 144), 0 0 40px rgb(110, 243, 144), 0 0 80px rgb(110, 243, 144);
  border: none;
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  
 }





